<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.bdqn.kgc.module.dto.ServiceQueue" alias="queue"></typeAlias>
        <typeAlias type="com.bdqn.kgc.module.dto.Orders" alias="order"></typeAlias>
        <typeAlias type="com.bdqn.kgc.module.dto.OrderItems" alias="items"></typeAlias>


    </typeAliases>
</configuration>